<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>

    <!-- Main error heading -->
    <h1><%= title %></h1>
    <% if (messages && messages.length > 0) { %>
        <% messages.forEach(message => { %>
          <div class="messages <%= message.type %>">
            <p><%= message.text %></p>
          </div>
        <% }) %>
      <% } %>

    <!-- Error message with humor -->
    <p><%- message %></p>
</body>
</html>